<div class="modal fade" id="observeModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">楽曲エントリーについて</h4>
			</div>
			<div class="modal-body">
				見学参加の場合、楽曲にエントリーを行うことはできません。<br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>