<div class="modal fade" id="notentryModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">エントリー時間外です</h4>
			</div>
			<div class="modal-body">
				ただいまはエントリー時間外です。<br>
				エントリー開始は<%= event.entry_start_time %>からとなります。
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>