<%= render 'events/event-header', event: @event, event_users: @event_users %>
<h2>打ち上げ詳細</h2>
<%= render 'after_parties/after_party', event: @event, event_users: @event_users, after_party: @after_party, event_user: @event_user%>