<% content_for(:html_title) { "イベント一覧" } %>
<div class="container Events">
    <div class="row">
    	<ul class="nav nav-tabs">
			<li class="active col-xs-6"><a href="#sampleContentA" data-toggle="tab">開催予定のイベント</a></li>
			<li class="col-xs-6"><a href="#sampleContentB" data-toggle="tab">終了したイベント</a></li>
		</ul>
		<!-- タブ内容 -->
		<div class="tab-content">
			<div class="tab-pane fade in active" id="sampleContentA">
				<% if @future_events.blank? %>
					<h3>開催予定のイベントはありません</h3>
				<% else %>
					<%= render 'events/events', events: @future_events %>
				<% end %>
			</div>
			<div class="tab-pane fade in" id="sampleContentB">
				<%= render 'events/events', events: @past_events %>
			</div>
		</div>
	</div>
</div>