/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

#pc-menu {
    display: block;
}

#mobile-menu {
    &__btn {
        display: none;
    }
}