<% content_for(:html_title) { "トップページ" } %>
<div class="skippr-container center">
    <div id="theTarget">
        <div class="img-size" style="background-image: url(<%= asset_url 'IMG_2254.JPG' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'IMG_2255.JPG' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'IMG_2256.JPG' %>)"></div>
        <div class="img-size" style="background-image: url(<%= asset_url 'IMG_2257.JPG' %>)"></div>
    </div>
</div>
<div class="container">
    <div class="row">
    	<h1>LLBSへようこそ！</h1>
		<p>イベント一覧から気になるイベントを探してみてください！</p>
	</div>
</div>