<% content_for(:html_title) { "トップページ" } %>
<section class="clearfix" id="mv">
  <div class="container">
    <%= image_tag('LLBS_LOGO5.png', class:"mv-title") %>
  </div>
</section>

<section id="portfolio">
    <div class="container">
        <h2 class="heading">みんなで奏でる物語</h2>
        <p class="heading-text">
          憧れのアーティストのあの曲、いつか自分も気の合う仲間たちと演奏してみたい・・・そう思ったことはありませんか。<br>
          <br class="sp-none"> 
          「そもそもメンバーってどうやって集めれば？」<br>
          「わざわざ固定バンドを組むのは少し面倒・・・」<br>
          「気の合うメンバーとの出会いが欲しい・・・！」<br>
          <br class="sp-none"> 
          LLBSはそんな面倒なことは抜きに、音楽に強い想いを持った人たちの夢を叶えるお手伝いをします。
        </p>
        <div class="production-group clearfix">
          <div class="production bg-1 sp-none"></div>
          <div class="production bg-2"></div>
          <div class="production bg-3 sp-none"></div>
          <div class="production bg-4"></div>
          <div class="production bg-5 sp-none"></div>
          <div class="production bg-6"></div>
        </div>
      </div>
</section>