<% content_for :css do %>
  <%= stylesheet_link_tag 'homes', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for(:html_title) { "トップページ" } %>
<section class="clearfix" id="mv">
  <div class="container">
    <%= image_tag('LLBS_LOGO5.png', class:"mv-title") %>
  </div>
</section>
<section id="portfolio">
    <div class="container">
        <h2 class="heading">みんなで奏でる物語</h2>
        <p class="heading-text">
          憧れのアーティストのあの曲をバンドで演奏してみたい、そう思ったことはありませんか。<br>
          <br class="sp-none">
          「そもそもメンバーってどうやって集めれば？」<br>
          「わざわざ固定バンドを組むのは少し面倒・・・」<br>
          「気の合うメンバーとの出会いが欲しい！」<br>
          <br class="sp-none">
          LLBSはそんな音楽に強い想いを持った人たちの夢を叶えるお手伝いをします。
        </p>
        <div class="production-group clearfix">
          <div class="production bg-1 sp-none"></div>
          <div class="production bg-2"></div>
          <div class="production bg-3 sp-none"></div>
          <div class="production bg-4"></div>
          <div class="production bg-5 sp-none"></div>
          <div class="production bg-6"></div>
        </div>
      </div>
</section>

<section id="contact">
  <div class="container">
    <div class="contact-group clearfix">
        <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="500" href="https://twitter.com/LLBS_log?ref_src=twsrc%5Etfw">Tweets by LLBS_log</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <a class="twitter-timeline" data-lang="ja" data-width="400" data-height="500" data-theme="light" href="https://twitter.com/noel99l?ref_src=twsrc%5Etfw">Tweets by noel99l</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</section>